.navbar {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 60px; */
    background: #fff;
    width: 100%;
    /* height: 74px; */
    padding: 16px;
    /* padding-right: 44px; */
}

.icon {
    color: #212121;
    width: 20px;
    height: 14.5px;
}

.role {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #CBCBCB;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #111111;
}

.avatar {
    width: 32px;
    height: 32px;

}