.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
}


.ant-dropdown .ant-dropdown-menu {
  margin-top: 12px;
}

.ant-layout {
  height: fit-content;
}