.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  overflow: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}


.ant-dropdown .ant-dropdown-menu {
  margin-top: 12px;
}

.ant-layout {
  height: fit-content;
  /* flex-grow: 1; */
  min-height: 100vh;


}